<div class="section__content">
  <div class="container custom__content--max-width">
    <div class="row">
      <div class="col col-md-24">
        <div class="widget" id="widget_50948655" data-id="50948655" data-type="simple-text">
          <div class="element simple-text transparentbg" id="w_50948655" style="background-color: transparent; ">
            <div class="text-box text-box-test1 nocolumns"
                 style="max-width: 100%; -moz-column-gap: 10px; -webkit-column-gap: 10px; column-gap: 10px; letter-spacing: 0em; line-height: 1.3; margin: 0 auto; ">
              <div style="text-align: center;"><h1 style="font-size:20px;">Репортажный фотограф в Новосибирске Маримонов
                Евгений.</h1><br>
<!--                <span style="font-size:24px;" class="mod&#45;&#45;fs_24"><a
                  href="https://wa.me/79135456187" target="_blank"><span
                  style="color:#0d4fd2;text-decoration: underline;">Написать в WhatsApp
                  </span></a></span>-->
                <br> <span
                  style="font-size:20px;" class="mod--fs_20">тел. 8-908-326-7660<br> Маримонов Евгений <br> &nbsp;vk: <a
                  style="color:#0d4fd2;text-decoration: underline;"
                  target="_blank" href="https://vk.com/id31080410">https://vk.com/id31080410</a></span></div>
              <div>&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-24">
        <div class="widget" id="widget_50948656" data-id="50948656" data-type="post-form">
          <div class="element post-form" id="w_50948656">
            <div class="post-form-content de--common__link-color state-init">
              <div class="success-message f__form f__3 js--success-message"
                   style="display: none; color: #949494; font-family: Arial; font-size: 16px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
