



    <div class="post-container arrow-container" (click)="itemClick.emit(item-1)">
      <a class="post-miniature" >
        <img alt="Фотограф в Новосибирске" class="lazyload lazyunload" data-sizes="auto"

             ngSrc="/assets/images/{{item}}.jpg" width="{{orientationWidth}}" height="{{orientationHeight}}">
      </a>
      <!--                    <div class="post-caption">
                            <time datetime="2025-08-06" class="post-date">6 августа 2025</time>
                            <h3>
                              <a class="post-title" >Свадебная фотосессия
                                Динила и &nbsp;Екатерина</a>
                            </h3>
                            <a class="post-arrow" >
                              <span class="arrow"></span>
                            </a>
                          </div>-->
    </div>


