<div class="sections-container -small-pad-before -small-pad-after -announcement_list-prefix -medium-width">
  <div class="sections-container-inner">
    <div class="section-container text-section wysiwyg ava">
      <!--<h1 style="text-align: center;">Репортажные фотосессии</h1>-->

    </div>
  </div>
</div>

<div class="sections-container -small-pad-before -small-pad-after -announcement_list-prefix -medium-width">
  <div class="sections-container-inner">
    <div class="section-container text-section wysiwyg">
      <!--<h1 style="text-align: center;">Репортажные фотосессии</h1>-->
      <p >
        Приветствую вас на моей странице!
      </p>
      <p >
        Если я вас недавно сфотографировал, то ваши фотографии можно скачать по <a class="link-style" target="_blank" href="https://disk.yandex.ru/d/AsrS9Z9CpIxNBQ"> ДАННОЙ ССЫЛКЕ.</a>
      </p>
    </div>
  </div>
</div>
