<div class="cover -bottom-sides js-cover -fullscreen ">
  <div class="slider js-slider -overlay is-protected" data-delay="6000" data-mode="fill" data-shuffle="false"
       >
    <div class="custom"

    >
      <div >
        <div >
          <div>
<!--            <img alt="1" class="lazyunload is-protected lazyautosizes lazyloaded"
                 data-sizes="auto"
                 src="/assets/images/186.jpg">-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cover-wrapper js-cover-wrapper -has-arrows">
    <div class="cover-bottom">
      <div class="cover-content">
        <button class="cover-down-arrow js-cover-down-arrow" type="button"></button>
      </div>
    </div>
  </div>
</div>

<div id="section-14185322"
     class="sections-container -medium-width -top-align -theme-pad-before -small-pad-after -background-default">
  <div class="sections-container-inner">
    <div class="row">
      <div class="col-sm-12 col-lg-8 col-lg-offset-2">
        <section class="section-container text-section -default wysiwyg" id="section-14185323"><h1
          style="text-align:center;">Стоимость репортажной съемки</h1>
          <!--<p style="text-align:center;">Здесь вы можете посмотреть информацию о пакетах услуг и стоимости</p>-->
        </section>
      </div>
    </div>
  </div>
</div>

<div id="section-14185324"
     class="sections-container -medium-width -top-align -small-pad-before -medium-pad-after -background-default">
  <div class="sections-container-inner">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <section class="section-container text-section -default wysiwyg" id="section-14185325"><p>ПАКЕТ № 1</p>
          <h3>Минимум</h3>
          <p>6500р</p>
          <ul>
            <li>До 1 часа</li>
            <li>От 60 фотографий</li>
            <li>Все фото в цветокоррекции</li>
            <li>Закрытый доступ к фотографиям на облачном диске (по ссылке)</li>
            <li>Готовность фото до семи дней</li>
          </ul>
        </section>
      </div>
      <div class="col-sm-12 col-md-4">
        <section class="section-container text-section -default wysiwyg" id="section-14185326"><p>ПАКЕТ № 2</p>
          <h3>Стандартный</h3>
          <p>5500р</p>
          <ul>
            <li>От 2 до 5 часов (цена указана за час работы)</li>
            <li>От 60 фотографий (в час)</li>
            <li>Все фото в цветокоррекции</li>
            <li>Закрытый доступ к фотографиям на облачном диске (по ссылке)</li>
            <li>Готовность фото до семи дней</li>
          </ul>
        </section>
      </div>
      <div class="col-sm-12 col-md-4">
        <section class="section-container text-section -default wysiwyg" id="section-14185327"><p>ПАКЕТ № 3</p>
          <h3>Макс</h3>
          <p>4500р</p>
          <ul>
            <li>От 6 до 10 часов (цена указана за час работы)</li>
            <li>От 60 фотографий (в час)</li>
            <li>Все фото в цветокоррекции</li>
            <li>Закрытый доступ к фотографиям на облачном диске (по ссылке)</li>
            <li>Готовность фото до 14 дней (стараюсь отдать намного раньше)</li>
            <li>Анонс в течении трех дней- 10 фото</li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="sections-container -small-pad-before -small-pad-after -large-width">
  <div class="sections-container-inner">
    <div class="section-container">

      <div class="post-list -rows -announcement-list">
        <ng-container>
          <div class="post js-post">
            <div class="post-inner">
              <app-js-post-up
                [path]="'/assets/images/portfolio/small/'"
                [item]=208
                [orientationWidth]=800
                [orientationHeight]=600
                (itemClick)="sliderOpen(0)"
              >
              </app-js-post-up>
            </div>
          </div>
          <div class="post js-post">
            <div class="post-inner">
              <app-js-post-up
                [path]="'/assets/images/portfolio/small/'"
                [item]=41
                [orientationWidth]=800
                [orientationHeight]=600
                (itemClick)="sliderOpen(1)"
              >
              </app-js-post-up>
            </div>
          </div>
          <div class="post js-post">
            <div class="post-inner">
              <app-js-post-up
                [path]="'/assets/images/portfolio/small/'"
                [item]=64
                [orientationWidth]=800
                [orientationHeight]=600
                (itemClick)="sliderOpen(2)"
              >
              </app-js-post-up>
            </div>
          </div>

        </ng-container>

      </div>

    </div>
  </div>
</div>
<div class="hiden">
  <rm-image-slider [images]="imageObject" #nav>
  </rm-image-slider>
</div>



