<div class=" blog-content-box">
  <div class="items">
    <article class="post composite-frontend-post" id="post_3985937">
      <div id="post-content" style="max-width: 100%;">
        <div class="post-body">
          <style type="text/css">.adaptive-desktop #section3985937_0 .section__content {
            min-height: 10px;
          }</style>
          <a id="custom" class="js--anchor" name="custom"></a>
          <div class="md-section js--section" id="section3985937_0">

            <div class="section__bg"></div>
            <div class="section__content">
              <div class="container custom__content--max-width">
                <div class="row">

                  <div class="row">


                    <tbody>
                    <tr>
                      <td class="header">
                        <h1 class="mod--fs_30">Стоимость репортажной съемки:</h1>
                      </td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td>
                        <div style="text-align: center;"><span style="font-size:18px;" class="mod--fs_18"><strong><span
                          style="color:#000000;">2500 рублей за час (минимум 2 часа).</span>
      </strong></span></div>
                      </td>
                    </tr>
                    <tr>
                      <br>
                    </tr>
                    <tr>
                      <td class="image">
                        <img alt="Фотограф в Новосибирске" class="lazyload lazyunload" data-sizes="auto"

                             ngSrc="/assets/images/84.jpg" width="600" height="400">
                      </td>
                    </tr>
                    </tbody>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- <div class="items">
           <article class="post composite-frontend-post" id="post_3985937">
             <div id="post-content" style="max-width: 100%;">
               <div class="post-body">
                 <style type="text/css">.adaptive-desktop #section3985937_0 .section__content {
                   min-height: 10px;
                 }</style>
                 <a id="custom" class="js&#45;&#45;anchor" name="custom"></a>
                 <div class="md-section js&#45;&#45;section" id="section3985937_0">

                   <div class="section__bg"></div>
                   <div class="section__content">
                     <div class="container custom__content&#45;&#45;max-width">
                       <div class="row">

                         <div class="row">

                           <tbody>
                           <tr>
                             <td class="header">
                               <h1 class="mod&#45;&#45;fs_30">Стоимость фотосъемки девичника</h1>
                             </td>
                           </tr>
                           <tr>
                             <td class="text-1" style="text-align: justify;"><span style="font-size:16px;"
                                                                                   class="mod&#45;&#45;fs_16"><span
                               style="color:#000000;">- цветокоррекция фотографий<br>
       <br>
       - оформление диска с фотографиями<br>
       <br>
       - консультация по подбору мест для фотосъёмки<br>
       <br>
       - Печать 10-ти фотографий формата А5.<br>
       <br>
       - Время обработки фотографий от 7 до 15 дней.</span></span><br>
                               &nbsp;
                               <div style="text-align: center;"><span style="font-size:18px;" class="mod&#45;&#45;fs_18"><strong><span
                                 style="color:#000000;">2500 рублей за час (минимум 2 часа)</span></strong></span></div>
                             </td>
                           </tr>
                           <tr>
                             <td class="image">
                               <img alt="Фотограф в Новосибирске" class="lazyload lazyunload" data-sizes="auto"

                                    ngSrc="/assets/images/82.jpg" width="600" height="400">
                             </td>
                           </tr>
                           </tbody>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>

               <div class="items">
                 <article class="post composite-frontend-post" id="post_3985937">
                   <div id="post-content" style="max-width: 100%;">
                     <div class="post-body">
                       <style type="text/css">.adaptive-desktop #section3985937_0 .section__content {
                         min-height: 10px;
                       }</style>
                       <a id="custom" class="js&#45;&#45;anchor" name="custom"></a>
                       <div class="md-section js&#45;&#45;section" id="section3985937_0">

                         <div class="section__bg"></div>
                         <div class="section__content">
                           <div class="container custom__content&#45;&#45;max-width">
                             <div class="row">
                               <div class="col col-md-24">
                                 <div class="widget" id="widget_50948771" data-id="50948771" data-type="simple-text">


                                   <div class="element simple-text transparentbg" id="w_50948771"
                                        style="background-color: transparent; ">
                                     <div class="text-box text-box-test1  nocolumns "
                                          style="max-width: 100%; -moz-column-gap: 10px; -webkit-column-gap: 10px; column-gap: 10px; letter-spacing: 0em; line-height: 1.3; font-family: 'Arial'; font-size: 16px !important;  margin: 0 auto; ">
                                       <table class="text-template-1">
                                         <tbody>
                                         <tr>
                                           <td class="header">
                                             <div  style="margin: 0 auto;">
                                               <h1 style="margin: 0 auto;">Cтоимость свадебной фотосъемки</h1>
                                             </div>
                                             <span
                                               style="font-size:14px;" class="mod&#45;&#45;fs_14"
                                             >СТОИМОСТЬ СВАДЕБНОЙ ФОТОСЕССИИ ВО МНОГОМ ЗАВИСИТ ОТ ТОГО, КАКОЙ ИМЕННО ПАКЕТ УСЛУГ ВЫ ХОТЕЛИ БЫ ПОЛУЧИТЬ. УЗНАТЬ ЦЕНУ НА СВАДЕБНУЮ ФОТОСЪЕМКУ В НОВОСИБИРСКЕ ВЫ МОЖЕТЕ НЕПОСРЕДСТВЕННО НА МОЕМ САЙТЕ, А ОБСУДИТЬ ПОРЯДОК ОПЛАТЫ, А ТАКЖЕ ВСЕ ВОПРОСЫ, СВЯЗАННЫЕ С ПРОВЕДЕНИЕМ ФОТОСЪЕМКИ ВАШЕЙ СВАДЬБЫ, ВЫ МОЖЕТЕ СО МНОЙ ЛИЧНО ПО ТЕЛЕФОНУ ИЛИ ДОГОВОРИВШИСЬ О ВСТРЕЧЕ В УДОБНОЕ ДЛЯ ВАС ВРЕМЯ.​</span>
                                           </td>
                                         </tr>
                                         <tr>
                                           <td class="text-2">&nbsp;</td>
                                         </tr>
                                         </tbody>
                                       </table>

                                       <table class="text-template-2">
                                         <tbody>
                                         <tr>
                                           <td class="col col1">
                                             <div class="header"><span style="color:#000000;"><span
                                               style="font-family:tahoma,geneva,sans-serif;"><span
                                               style="font-size:16px;"
                                               class="mod&#45;&#45;fs_16"><span
                                               style="text-transform: none;">ПАКЕТ УСЛУГ«ПРЕМИУМ»</span></span></span></span></div>

                                             <div class="image"><span style="color:#000000;"><span
                                               style="font-family:tahoma,geneva,sans-serif;"><span
                                               style="font-size:16px;"
                                               class="mod&#45;&#45;fs_16">
                            <img alt="Фотограф в Новосибирске" class="lazyload lazyunload" data-sizes="auto"

                                 ngSrc="/assets/images/64.jpg" width="600" height="400">

                         </span></span></span></div>

                                             <ol>
                                               <li><span style="color:#000000;"><span style="font-size:16px;"
                                                                                      class="mod&#45;&#45;fs_16"><span
                                                 style="font-family:tahoma,geneva,sans-serif;">Фотосъемка всего свадебного дня&nbsp;(9-12 часов фотосъемки)</span></span></span>
                                               </li>
                                               <li><span style="color:#000000;"><span style="font-size:16px;"
                                                                                      class="mod&#45;&#45;fs_16"><span
                                                 style="font-family:tahoma,geneva,sans-serif;">Возможная работа с ассистентом при необходимости</span></span></span>
                                               </li>
                                               <li><span style="color:#000000;"><span style="font-size:16px;"
                                                                                      class="mod&#45;&#45;fs_16"><span
                                                 style="font-family:tahoma,geneva,sans-serif;">&nbsp;Съемка с дополнительным светом&nbsp;</span></span></span>
                                               </li>
                                               <li><span style="color:#000000;"><span style="font-size:16px;"
                                                                                      class="mod&#45;&#45;fs_16"><span
                                                 style="font-family:tahoma,geneva,sans-serif;">Цветокоррекция всех фотографий (более 600 шт), ретушь 150 фото</span></span></span>
                                               </li>
                                               <li><span style="color:#000000;"><span style="font-size:16px;"
                                                                                      class="mod&#45;&#45;fs_16"><span
                                                 style="font-family:tahoma,geneva,sans-serif;">Запись фотографий на облачную WEB-галерею (хранение 1 год)</span></span></span>
                                               </li>
                                               <li><span style="color:#000000;"><span style="font-size:16px;"
                                                                                      class="mod&#45;&#45;fs_16"><span
                                                 style="font-family:tahoma,geneva,sans-serif;">Дизайн и печать полиграфической фотокниги форматом&nbsp;23Х23 см.&nbsp;30 страниц</span></span></span>
                                               </li>
                                             </ol>

                                             <div class="text"><br>
                                               <span style="font-size:16px;" class="mod&#45;&#45;fs_16"><strong><span
                                                 ><span
                                                 style="line-height: 20.7999992370605px;"><span
                                                 style="font-family:tahoma,geneva,sans-serif;">37000 руб</span></span></span></strong></span>
                                             </div>
                                           </td>
                                           <td class="col col2">
                                             <div class="header"><span style="font-size:14px;" class="mod&#45;&#45;fs_14"><a
                                               href="/"><span
                                               style="text-transform: none;">ПАКЕТ УСЛУГ
       «ОПТИМАЛЬНЫЙ»</span></a></span></div>

                                             <div class="image"><a
                                               href="/">

                                               <img alt="Фотограф в Новосибирске" class="lazyload lazyunload"
                                                    data-sizes="auto"

                                                    ngSrc="/assets/images/91.jpg" width="600" height="400">

                                             </a></div>

                                             <ol>
                                               <li class="text"><span style="color:#000000;"><span
                                                 style="font-size:16px;"
                                                 class="mod&#45;&#45;fs_16"><span
                                                 style="font-family:tahoma,geneva,sans-serif;"><span
                                                 style="line-height: 20.7999992370605px;">Фотосъемка сборов, регистрации, прогулки и начала банкета до первого танца включительно (5-8 часов фотосъемки , 1-1,5 часов на банкете в том числе)</span></span></span></span>
                                               </li>
                                               <li class="text"><span style="color:#000000;"><span
                                                 style="font-size:16px;"
                                                 class="mod&#45;&#45;fs_16"><span
                                                 style="font-family:tahoma,geneva,sans-serif;">Возможная работа с ассистентом при необходимости</span></span></span>
                                               </li>
                                               <li class="text"><span style="color:#000000;"><span
                                                 style="font-size:16px;"
                                                 class="mod&#45;&#45;fs_16"><span
                                                 style="font-family:tahoma,geneva,sans-serif;">Съемка с дополнительным светом</span></span></span>
                                               </li>
                                               <li class="text"><span style="color:#000000;"><span
                                                 style="font-size:16px;"
                                                 class="mod&#45;&#45;fs_16"><span
                                                 style="font-family:tahoma,geneva,sans-serif;">Цветокоррекция всех фотографий( более 400 фото), ретушь 100 фото</span></span></span>
                                               </li>
                                               <li class="text"><span style="color:#000000;"><span
                                                 style="font-size:16px;"
                                                 class="mod&#45;&#45;fs_16"><span
                                                 style="font-family:tahoma,geneva,sans-serif;">Запись фотографий на облачную WEB-галерею (хранение 1 год)</span></span></span>
                                               </li>
                                               <li class="text"><span style="color:#000000;"><span
                                                 style="font-size:16px;"
                                                 class="mod&#45;&#45;fs_16"><span
                                                 style="font-family:tahoma,geneva,sans-serif;">Дизайн и печать полиграфической фотокниги форматом&nbsp;23Х23 см.&nbsp;30 страниц</span></span></span>
                                               </li>
                                             </ol>

                                             <div class="text"><strong><span style="font-size:16px;"
                                                                             class="mod&#45;&#45;fs_16"><span
                                               href="/"><span
                                               style="color:#000000;"><span
                                               style="line-height: 20.7999992370605px;">27000 руб</span></span></span></span></strong>
                                             </div>
                                           </td>
                                           <td class="col col3">
                                             <div class="header"><span style="font-size:14px;" class="mod&#45;&#45;fs_14"><a
                                               href="/"><font
                                               color="#000000"><span style="text-transform: none;">ПАКЕТ УСЛУГ
       «ЛЁГКИЙ»</span></font></a></span></div>

                                             <div class="image"><a
                                               href="/">

                                               <img alt="Фотограф в Новосибирске" class="lazyload lazyunload"
                                                    data-sizes="auto"

                                                    ngSrc="/assets/images/48.jpg" width="600" height="400">
                                             </a></div>

                                             <ol>
                                               <li class="text"><span style="color:#000000;"><span
                                                 style="font-family:tahoma,geneva,sans-serif;"><span
                                                 style="font-size:16px;"
                                                 class="mod&#45;&#45;fs_16"><span
                                                 style="line-height: 20.7999992370605px;">Фотосъемка регистрации брака и фотопрогулка (3-4 часа фотосъемки)</span></span></span></span>
                                               </li>
                                               <li class="text"><span style="color:#000000;"><span
                                                 style="font-family:tahoma,geneva,sans-serif;"><span
                                                 style="font-size:16px;"
                                                 class="mod&#45;&#45;fs_16">Цветокоррекция всех фотографий(более 250 фотографий)</span></span></span>
                                               </li>
                                               <li class="text"><span style="color:#000000;"><span
                                                 style="font-family:tahoma,geneva,sans-serif;"><span
                                                 style="font-size:16px;"
                                                 class="mod&#45;&#45;fs_16">Ретушь 50 фото</span></span></span>
                                               </li>
                                               <li class="text"><span style="color:#000000;"><span
                                                 style="font-family:tahoma,geneva,sans-serif;"><span
                                                 style="font-size:16px;"
                                                 class="mod&#45;&#45;fs_16">Запись фотографий на облачную WEB-галерею (хранение 1 год)</span></span></span>
                                               </li>
                                               <li class="text"><span style="color:#000000;"><span
                                                 style="font-family:tahoma,geneva,sans-serif;"><span
                                                 style="font-size:16px;"
                                                 class="mod&#45;&#45;fs_16">Дизайн и печать полиграфической фотокниги форматом 23Х23 см. 30 страниц</span></span></span>
                                               </li>
                                             </ol>

                                             <div class="text"><strong><span style="font-size:16px;"
                                                                             class="mod&#45;&#45;fs_16"><span
                                               href="/"><span
                                               style="color:#000000;"><span
                                               style="line-height: 20.7999992370605px;">17000 руб</span></span></span></span></strong>
                                             </div>
                                           </td>
                                         </tr>
                                         <tr>
                                           <td colspan="3">
                                             <div class="text-2">&nbsp;</div>
                                           </td>
                                         </tr>
                                         </tbody>
                                       </table>

                                       <div>&nbsp;</div>

                                     </div>
                                   </div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </article>
               </div>
             </div>-->
      </div>
    </article>
  </div>
</div>
